.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
 
    
}

.products{

    margin-top: 30px !important;
    color:rgb(11, 102, 60);
    margin-bottom: 30px;
    
}

/* Make it responsive */

@media only screen and (max-width:688px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    
}

@media only screen and (min-width:689px) and (max-width:991px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    
}
