.img{
    height: 280px !important;
    padding:15px;
    
}
.product{
    margin: 0 auto !important;
    margin-top: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px !important;
    transition: .8s;
    
    
}
.product-container {
    margin-bottom: 80px;
}

.product:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466), 0 6px 20px 0 rgba(0, 0, 0, 0.349);
    transform: scale(1.02);
 
}
.card{
    border: 0 !important
}
.price{
    color:rgb(223, 84, 4)
}

.card-tittle{
    color: #06ca89;
    font-size: 25px;
    margin-bottom:15px;
}

.product{
    border:2px solid rgb(4, 207, 112) !important;
   
    
}

@media only screen and (max-width:688px) {
 
    .borders{
        width: 18rem !important;
    }
}