.logout-button {
    border: 0 !important;
    border-radius: 7px;
    padding: 7px 18px;
}
span.name {
    margin-top: 8px;
    margin-left: 23px;
    margin-right: 24px;
}

.dashborad{
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
}

.dashborad:hover{
    text-decoration: underline;
    color:black
}