.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.568)), url("https://i.ibb.co/TL3K6kG/erik-mclean-ZRns2-R5azu0-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .banner-name{
    font-size: 50px;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 247, 0);
    
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: rgb(188, 238, 7);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top:15px
  }
  
  .hero-text button:hover {
    background-color: rgb(241, 158, 5);
    color: rgb(0, 0, 0);
  }